<div style="width: 100%;">
    <div class="page_title mat-elevation-z3">{{PAGE_CONFIG.page_title}}</div>
    <form class="formulario">
        <!-- CAMPO  -->
        <mat-form-field *ngFor="let row of PAGE_CONFIG.page_rows" appearance="standard">
            <mat-label>{{row.col01}}</mat-label>
            <mat-select>
                <mat-option *ngFor="let item of row.col01_cb">{{item}}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <!-- BOTONES -->
        <div class="button" *ngFor="let btn_row of PAGE_CONFIG.button_page">
            <button mat-raised-button color="primary" class="small">{{btn_row.button_name}}</button>
        </div>
    </form>
</div>