<div style="width: 100%;">
    <div style="background: #288cdc; color:white; vertical-align: middle; text-align: center; margin-bottom: 1em; border-radius: 2px;" class="mat-elevation-z3">Filtros</div>
    <form class="formulario">
        <!-- CAMPO  -->
        <mat-form-field appearance="standard">
            <mat-label>Cartera</mat-label>
            <mat-select>
                <mat-option></mat-option>
                <mat-option>dato</mat-option>
            </mat-select>
        </mat-form-field>
        
        <!-- BOTONES -->
        <div style="display: flex; justify-content: center;">
            <button mat-raised-button color="primary" class="small">Filtrar</button>
        </div>
    </form>
</div>